{% extends 'base.html' %}

{% block content %}
{% load static %}
    <div class="">
        {% include 'includes/navbar.html' %}
    </div>
    <br>
        {% if messages %}
            <div class="alert alert-success alert-dismissible fade show text-center col-md-3 offset-md-9">
                {% for msg in messages %}
                    <small>{{msg}}</small>
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="container col-md-8 mt-2">
        {% if posts %}
            <br>
            <div class="container">
            <div class="row">
                <div class="container col-md-6 bg-info">
                    <a href="{% url 'dashboard' %}"><h2 class="text-center text-secondary">
                        {% if number_of_posts %} {{ number_of_posts }} {% else %} 0 {% endif %} Post(s)</h2>
                    </a>
                </div>
                <div class="col-md-6 bg-warning">
                    <a href="{% url 'draftedstories' %}"><h2 class="text-center text-secondary">
                        {% if number_of_drafts %}{{ number_of_drafts }}{% else %} 0 {% endif %} Draft(s)</h2>
                    </a>
                </div>
            </div>
            </div>
            <br>
            <h4 class="text-center dashboard-title">My Stories ({% if number_of_posts %} {{ number_of_posts }} {% endif %})</h4>

        {% for post in posts %}
            <div class="px-2 py-2 mb-2 rounded lavender">
                <div style="font-size: 19px;" class="font-weight-bold">
                    <span class="text-success">{{ post.likes }} Likes // </span>
                    <span class="text-info">{{ post.smiles }} Smiles //</span>
                    <span class="text-warning">{{ post.views }} Views</span>
                </div>
                <a style="text-decoration: none;" href="{{ post.get_absolute_url }}"><h3>{{ post.title }}</h3></a>
                    <p>Published: {{ post.created_on }} Updated: {{ post.modified_on }}</p>
                {% for tag in post.tags.all %}
                    <span class="badge badge-secondary"><a style="color: white;" href="{% url 'taggedstories' tag.slug %}">#{{ tag }}</a></span>
                {% endfor %}
                <br>
                <div class="rounded-pill btn-group">

                    <a href="{{ post.get_edit_absolute_url }}"><button type="submit" class="btn btn-sm btn-warning mr-2"><i class="fa fa-edit"></i></button></a>
                    <a href="{{ post.get_delete_absolute_url }}"><button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></button></a>

                </div>
            </div>
        {% endfor %}
        {% else %}
            <br>
            <div class="bg-info">
                <h2>You have written 0 stories. You can
                    <a href="{% url 'writestory' %}">Write a new story</a> or
                    <a href="{% url 'draftedstories' %}">Publish your drafted stories</a>
                </h2>
            </div>
        {% endif %}
        </div>
{% include 'includes/footer.html' %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/darkmode.js' %}"></script>
{% endblock %}