{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
{% include 'includes/navbar.html' %}

    <div class="col-md-4 col-sm-6 offset-md-4 login rounded">

         <h4 class="text-center">Reset Your Password</h4>

         {% if messages %}
                 {% for msg in messages %}
                     <div class="bg-warning rounded">
                         <p class="text-center">{{ msg }}</p>
                     </div>
                 {% endfor %}
         {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}<br>
            <input id="password-reset-btn" disabled onclick="changeName()" type="submit" class="btn btn-success form-control" name="" value="Reset Password"><br>

        </form>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script>
    const password = document.getElementById('id_password');
    const newPassword = document.getElementById('id_new_password');
    const btn = document.getElementById('password-reset-btn');


    password.addEventListener("input", function () {
        newPassword.addEventListener("input", function () {
            btn.disabled = (this.value === '');
            btn.css('opacity', '0.5');
        });

    });

    function changeName() {
        document.getElementById("password-reset-btn").value = "Resetting your password...Please wait"
    }

    </script>
{% endblock %}